p {
    font-size: 50px;
    font-style: italic;
}

h1 {
    font-size: 50px;
    font-style: italic;
}

h2 {
    font-size: 50px;
    font-style: italic;
}

button {
    font-size: 50px;
    font-style: oblique;
}

img {
    width: 500px;
    height: auto;
}